{% extends "util/base.html" %}
{% load staticfiles %}



{% block main-jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="col-lg-8">
        <h1>One program to watch them all</h1>
        <p>Watch all your TV series and movies with Sauron. </br>
        It learns what kind of torrents you download so that it can download automatically new episodes when they are available.</p>
        <p><a class="btn btn-primary btn-lg" href="">See more &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img alt="The Sauron Eye" width="300px" height="300px" src="{% static "images/logo_nbg.png" %}">
        </div>
      </div>
    </div>
{% endblock %}

{% block main-container %}
<div class="row">
<div class="col-lg-4">
  <h2>Movies</h2>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
</div>
<div class="col-lg-4">
  <h2>Series</h2>
  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
</div>
<div class="col-lg-4">
  <h2>More</h2>
  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
</div>
 {% endblock %}
